body {
  margin: 0;
  font-family: 'Cantique';
  background-color: #282C34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spirit {
  font-family: 'Absinthe',
    monospace;
  font-size: 100px;
  margin: 0 0 100px 0;
}

@font-face {
  font-family: 'Cantique';
  src: local('Cantique'), url(fonts/Cantique-Normal.otf) format('opentype');
}

@font-face {
  font-family: 'Le Murmure';
  src: local('Le Murmure'), url(fonts/le-murmure.otf) format('opentype');
}

@font-face {
  font-family: 'Absinthe';
  src: local('Absinthe'), url(fonts/AbsinthelyricPrintRegular-1Vg4.ttf) format('truetype');
}